body {
    margin:0;
    font-family: 'Oxanium', cursive;
}

#menu{
    background-color: rgb(100, 30, 30); 
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color:black ;
    font-size: 1.2em;
}

.benv0{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-left:20px;
    color: white;
}

.benv{
    margin-right: 3px;
    font-size: 0.8em;
    color: white;
}

.nome{
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}

.icone0 img{
    width: 34px;
    height: 30px;
}

.icone1 img{
    width: 22px;
    height: 25px;
}

@media (max-width: 500px) {
    .icone1 img{
        margin-right: 50px;
    }
}

.icone2 img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute; 
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
    text-align: center;
}

header{
    height: 459px;
    background-image: url(https://i.eurosport.com/2015/03/20/1439810-30793103-2560-1440.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
}


#intro{
    display: flex;
    margin-left: 40px;
    margin-bottom: 0;
    align-items: center;
    height: 170px;
    margin-top: 35px;
}



header h1{
    font-size: 6em;
    color: white;
    margin-right: 20px;
}

@media (max-width: 500px) {
    header h1 {
      font-size: 3em;
      margin-left: -30px;
    }
}

#intro_img{
    width: 90px;
    height: 100px;
}
@media (max-width: 500px) {
    #intro_img {
        width: 60px;
        height: 70px;
    }
}
header h2{
    border: 2px solid white;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-left: 40px;
    margin-top: 0;
    width: 75px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.7em;
    font-weight: normal;
}

@media (max-width: 500px) {
    header h2 {
        margin-top: -40px;
        margin-left: 10px;
    }
}

h2 a{
    text-decoration: none;
    color: white;
}


footer {
    width: 100%;
    height: 60px;
    background-color:grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 500px) {
    footer{
        font-size: 0.6em;
    }
}

.footerimg{
    width: 40px;
}